@import "bootstrap";
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
$bg-nav:rgba(0,123,255,0.7);
$btn-color: transparent;
$btn-color-hover:rgba(0,123,255,0.2);
$btn-color-active: rgba(0,123,255,0.9);
$jumbo-color:rgba(0,123,255,0.08);
$jumbo-success: rgba(0, 255, 33,0.4);
$jumbo-success-border: rgba(0,255,33,1);
$jumbo-failure: rgba(255, 0, 0, 0.4);
$jumbo-failure-border: rgba(255,0,0,1);


#chat {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    .container {
        width: 600px;
        height: 90%;
        background: #7abcff; /* Old browsers */
        background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 76%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 76%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #7abcff 0%,#60abf8 44%,#4096ee 76%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        position: absolute;
        margin: auto;
        top: 2rem;
        bottom: 2rem;
        left: 0;
        right: 0;
        border-radius: 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        box-shadow: 2px 2px 20px rgba(162,189,209,1);
        
    }

    .content-container {
        
        height: 100%;
        position: relative;
        margin: auto;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;

        
    
}
#chat-field{
    
    
    height:550px!important;
    
    margin-left:auto;
    margin-right:auto;
    background-color:white;
    color:inherit;
    font-family: inherit;
    overflow-y:auto;
    overflow-x:hidden;
    padding-bottom:2px;
    padding-left:10px;
    margin-bottom:2px;
    
    
}

    
}
#channel-list {
    width: 450px;
    height: 20px;
    color: inherit;
    font-family: inherit;
    overflow-y: hidden;
    z-index: 1;
    transition: 0.5s;
    margin-bottom: 2px;
    position: fixed;
    top: 0;
    left: 50%;
    right: 50%;
    color:white;
    margin-left: -225px;
    background: #7abcff;
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 76%);
    background: -webkit-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 76%);
    background: linear-gradient(to bottom, #7abcff 0%, #60abf8 44%, #4096ee 76%);
    border-radius: 0 0 10px 10px;

    button {
        width: 100px;
        height: 20px;
        font-size: 12px;
        height: 20px;
        position: fixed;
        top:0;
        left: 50%;
        right: 50%;
        margin-left: -50px;
        bottom: 0;
        transition-duration: 1s;
        background-color: transparent;
        color: rgba(255, 255, 255, 0.5);
        border: none;
        outline: none;


        &:hover {
            color: rgba(255, 255, 255, 0.8);
            outline: none;
        }
    }
}
#about {
    width: 450px;
    height: 20px;
    color: inherit;
    font-family: inherit;
    overflow-y: hidden;
    z-index: 1;
    transition: 0.5s;
    position: fixed;
    bottom: 0;
    left: 50%;
    right: 50%;
    margin-left: -225px;
    background: #7abcff;
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 76%);
    background: -webkit-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 76%);
    background: linear-gradient(to bottom, #7abcff 0%, #60abf8 44%, #4096ee 76%);
    border-radius: 10px 10px 0 0;

    button {
        width: 100px;
        height: 20px;
        font-size: 12px;
        height: 20px;
        position: absolute;
        left: 50%;
        right: 50%;
        margin-left: -50px;
        bottom: 0;
        transition-duration: 1s;
        background-color: transparent;
        color: rgba(255, 255, 255, 0.5);
        border: none;
        outline: none;


        &:hover {
            color: rgba(255, 255, 255, 0.8);
            outline: none;
        }
    }
}
    #chat input {
        width: 100%;
        height: 30px;
        margin-bottom: 20px;
        align-content: flex-end;
        
        border: none;
        
        opacity: 0.5;
        transition: opacity 0.3s;
        bottom:0;


        &:hover {
            opacity: 1;
        }

        &:focus {
            outline: none;
        }

    }

    .about {
        text-decoration: none;
        color: $bg-nav;
        transition: all ease-in 0.5s;

        &:hover {
            text-decoration: double;
        }
    }



    #chat #message {
        width: 450px;
        height: 30px;
        border: none;
        margin-bottom: 20px;
        border-radius: 5px;
        font-family: 'Raleway', sans-serif;
        font-size:14px;
        letter-spacing: 0.2em;
        
        
        
       bottom:0;
       position:absolute;
       left:50%;
       right:50%;
       margin-left:-250px;
   
       }

    #chat button {
        height:30px;
        width:40px;
        border-radius:5px;
        
        &:focus {
            outline: none;
        }
    }

   

    
body {
    background: #7abcff; /* Old browsers */
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 76%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 76%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #7abcff 0%,#60abf8 44%,#4096ee 76%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    font-family: 'Raleway',sans-serif !important;
}
.chat-fixed-top {
    position: absolute;
    top: 0;
    background: linear-gradient(to bottom, rgba(194, 194, 198,0.7), rgba(162,162,167,0.9));
    width: 100%;
    left: 0;
    right: 0;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid rgb(142,142,147);
    text-align: center;
    color:rgba(255,255,255,0.9)
}
#overlay{
    position:fixed;
    display:none;
    width:100%;
    height:100%;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:rgba(0,0,0,0.5);
    z-index:2;
    cursor:pointer;
}
#overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    color: white;
    transform: translate(-50%,50%);

    .flashit {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 50px;
        color: white;
        transform: translate(-50%,50%);
        -webkit-animation: flash linear 2s;
        animation: flash linear 2s;
    }

    
}
@-webkit-keyframes flash {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
@keyframes flash {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
