
<!DOCTYPE html>
<html>
<head>
    <title>Chatter</title>
    <link rel="stylesheet" type=text/css href="{{url_for('static',filename='css/my_css.css') }}">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="{{url_for('static',filename='js/script.js')}}"></script>
    <script src="{{url_for('static', filename='js/socketio-file-upload/client.js')}}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{dropzone.load_css()}}
</head>
<body>
    <div id="overlay">
        <div id="overlay-text">
            <form id="username">
                <input id="username_input" type="text" placeholder="Username" required>
        <button type="button" class="slide" id="user_button">Add user</button>
</form>
</div>
</div>
    <div id="channel-list">
        <button id="expand" data-name="show" value="Expand">Channel list</button>
        <div id="channels-div">
            <ul id = "channel-changer">
                {% for my_channel in channels %}
                <li class="my-channel" data-channel="{{my_channel}}">{{my_channel}}</li>
                {% endfor %}
            </ul>
        </div>
        
            <form id="channel-creation">
            <input id="channel_input" type="text" placeholder="Channel name" required>
            <button type="button" id="channel_button">Create channel</button> 
            </form>
    </div>
    <div id="chat">

        <div class="container">
            <div class="chat-fixed-top" id="chat-title"><strong>Chatter</strong></div>
            <div class="content-container col-md-12">
                <div class="row">
                    <div id="chat-field" class="col-md-11">
                        <div id="messages"></div>
                    </div>



                </div>
                <div class="row" id="msg">

                    <form id="messenger">

                        <input id="message" type="text" placeholder="Enter your message">
                        <button type="button" class="slide" id="send">Send</button>



                    </form>

                </div>

            </div>
        </div>

    </div>
    <div id="about">
        <button id="about-button" value="Expand">About</button><br />
        <span id="logos"> {{dropzone.create(action='upload')}} {{dropzone.load_js()}} {{dropzone.config}} </span>
    </div>



</body>
</html>
